.page-container {
    padding: 10% 25% 0 25%;
}

/* --- index.html styles --- */
.main-page-image {
    background-image: url(images/snow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FC5185;
    text-align: center;
}

.title-page-link {
    color: inherit;
    width: 50%;
}

.title-page-button {
    color: white !important;
    border-color: #FC5185 !important;
    background-color: #FC5185 !important;
}

.title-page-button:hover {
    border-color: #3FC1C9 !important;
    background-color: #3FC1C9 !important;
}

.title-page-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* --- trip-search.html styles --- */
.trip-search-page-image {
    background-image: url(images/flight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.error-message {
    color: red;
    text-align: center;
}

.switch-search {
    padding-top: 20px;
    text-align: center;
}

.switch-search-link, .note-text {
    color: #FC5185;
    text-decoration: inherit;
}

.switch-search-link:hover {
    color: #3FC1C9;
}

.search-form-row {
    padding-bottom: 10px;
}

.search-input-field {
    width: 40%;
    border: 2px solid gray;
    height: 50px;
    border-radius: 25px;
    margin: 0 auto;
}

.search-input-field:focus, .passenger-select:focus, .date-select:focus, .currency-select:focus {
    outline: 1px solid #FC5185;
    border: 2px solid #FC5185;
}

.form-label {
    color: #FC5185;
    font-size: 16px;
}

.passenger-select, .date-select {
    width: 35%;
    border: 1px solid gray;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    text-align: center;
}

.passenger-form-row, .date-form-row {
    margin: 0 auto;
    padding-bottom: 10px;
}

.date-select {
    width: 75%;
}

.currency-select {
    width: 35%;
    border: 1px solid gray;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    text-align: center;
    margin-left: 50%;
}

.submit-button {
    color: white !important;
    border-color: #FC5185 !important;
    background-color: #FC5185 !important;
    width: 100%;
    border-radius: 25px;
}

.submit-button:hover {
    border-color: #3FC1C9 !important;
    background-color: #3FC1C9 !important;
}


/* --- flight-info.html styles --- */
.flight-info-page-image {
    background-image: url(images/warmth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.accordion {
    padding-bottom: 25px;
}

.accordion-button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:not(.collapsed) {
    color: #3FC1C9;
    background-color: transparent !important;
}

.flight-type-header {
    float: left;
    padding-bottom: 10px;
    color: #FC5185;
}

.flight-price-header {
    float: right;
    padding-bottom: 10px;
    color: #FC5185;
}

.depart-return-result-tab-left {
    width: 33.33%;
    text-align: left;
}

.depart-return-result-tab-center {
    width: 33.33%;
    text-align: center;
}

.depart-return-result-tab-right {
    width: 25%;
    text-align: right;
}

.flight-details {
    padding-left: 50px !important;
}

.flight-time-text, .layover-text {
    color: gray;
    font-size: 14px;
}

.layover-line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
